@tailwind base;
@tailwind components;
@tailwind utilities;

.vault-border {
	background: radial-gradient(rgb(9 9 11) 0%, red 50%, rgb(9 9 11) 75%) border-box;
	border: 150px solid transparent;
}

.vault-glow-animiation {
	animation: vaultGlow 2s ease-in-out infinite;
}

@keyframe vaultGlow {
	0% {
		background: radial-gradient(rgb(9 9 11) 0%, red 50%, rgb(9 9 11) 75%) border-box;
		border: 150px solid transparent;
	}
	50% {
		background: radial-gradient(rgb(9 9 11) 0%, #d10000 50%, rgb(9 9 11) 75%) border-box;
		border: 150px solid transparent;
	}
	100% {
		background: radial-gradient(rgb(9 9 11) 0%, red 50%, rgb(9 9 11) 75%) border-box;
		border: 150px solid transparent;
	}
}
