@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.vault-border-dark {
		background: radial-gradient(rgb(9 9 11) 0%, red 50%, rgb(9 9 11) 75%) border-box;
		border: 150px solid transparent;
	}
	.vault-border-light {
		background: radial-gradient(
				rgb(243 244 246) 52%,
				#ff2600 54%,
				#ff2600 56%,
				rgb(243 244 246) 58%
			)
			border-box;
		border: 150px solid transparent;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	right: 10;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: red;
}
